In [1]:
import pandas as pd 
import numpy as np

In [2]:
events = pd.read_excel('Events.xlsx')
responses = pd.read_excel('trans_inter_subcat.xlsx')

In [3]:
events.head()

,Event ID,Event Names,Description,Primary Category,Secondary Category,Sub Category,Location,Prices,Date,Unnamed: 9,Time,Links
0,EVT0001,Food Photography Workshop,Calling all food lovers and aspiring photograp...,Photography,NaN,Food Photography,Wanowrie,2500,2024-03-31 00:00:00,रविवार,10:00:00,https://allevents.in/pune/food-photography-wor...
1,EVT0002,Street Photography Workshop,Ten days of shooting includes two street photo...,Photography,NaN,Travel Photography,Dhayari,1200,2024-03-24 00:00:00,रविवार,07:00:00,NaN
2,EVT0003,Ajay Atul Live,Let's enjoy the magic of Ajay-Atul’s music lik...,Music and Entertainment,NaN,Concert,Bavdhan,1500,2024-04-20 00:00:00,शनिवार,19:00:00,https://in.bookmyshow.com/events/ajay-atul-liv...
3,EVT0004,Pune Heritage Walk,Heritage walk through old lanes and Potters co...,Travel,NaN,One Day Outing,Shivajinagar,300,Multiple Dates,Multiple Dates,17:00:00,https://allevents.in/pune/pune-heritage-walk/8...
4,EVT0005,Poetry and Comedy,"GOTU LIT WEDNESDAY'S, A COMEDY AND POETRY OPEN...",Music and Entertainment,NaN,"Poetry,Comedy",Viman Nagar,400,2024-03-24 00:00:00,रविवार,17:00:00,NaN

In [4]:
responses.head()

,Name,Event ID,Interaction,Interaction Score,Primary Category,Secondary Category,Sub Category,Unnamed: 7
0,Aakash,EVT0014,Create Circle,7,Travel,Adventure,Camping,NaN
1,Aakash,EVT0064,Invite Friends,7,Sports,NaN,Horse Riding,NaN
2,Aakash,EVT0142,Invite Friends,7,Music and Entertainment,NaN,Group Activity,NaN
3,Aakash,EVT0015,Join Circle,6,Adventure,Travel,Hiking and Trekking,NaN
4,Aakash,EVT0129,Join Circle,6,Business and Networking,NaN,Seminar,NaN

In [5]:
responses.drop(columns =['Secondary Category'], inplace = True)

In [6]:
responses.head()

,Name,Event ID,Interaction,Interaction Score,Primary Category,Sub Category,Unnamed: 7
0,Aakash,EVT0014,Create Circle,7,Travel,Camping,NaN
1,Aakash,EVT0064,Invite Friends,7,Sports,Horse Riding,NaN
2,Aakash,EVT0142,Invite Friends,7,Music and Entertainment,Group Activity,NaN
3,Aakash,EVT0015,Join Circle,6,Adventure,Hiking and Trekking,NaN
4,Aakash,EVT0129,Join Circle,6,Business and Networking,Seminar,NaN

In [7]:
responses.drop(columns =['Unnamed: 7'], inplace = True)

In [8]:
responses.head()

,Name,Event ID,Interaction,Interaction Score,Primary Category,Sub Category
0,Aakash,EVT0014,Create Circle,7,Travel,Camping
1,Aakash,EVT0064,Invite Friends,7,Sports,Horse Riding
2,Aakash,EVT0142,Invite Friends,7,Music and Entertainment,Group Activity
3,Aakash,EVT0015,Join Circle,6,Adventure,Hiking and Trekking
4,Aakash,EVT0129,Join Circle,6,Business and Networking,Seminar

In [9]:
events.drop(columns =['Secondary Category','Location','Prices','Date','Unnamed: 9','Time','Links'], inplace = True)

In [10]:
events.tail()

,Event ID,Event Names,Description,Primary Category,Sub Category
196,EVT0199,Day Trip at Girivan - private hill station,NaN,Travel,Camping
197,EVT0200,THE LIT BUG FEST 2024 SEASON 6\n,Experience literature from all facets,Art and Culture,NaN
198,EVT0201,Origins : A Singing Retreat In Kamshet,A singing circle is a gathering of people to s...,Music and Entertainment,Singing
199,EVT0202,Meher Retreat - Day Picnic,NaN,Travel,One Day Outing
200,EVT0203,Mountain Zipline at Malhar Matchi,We are ready to fly without wings and we want ...,Adventure,Adventure Sports

In [11]:
responses.shape

(185, 6)

In [12]:
events.shape

(201, 5)

In [13]:
first_responses= pd.read_csv('Untitled form (Responses) (1).csv')

In [14]:
first_responses.head()

,Timestamp,Name,Gender,Age,Interests (Multi Select),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,All Interests
0,3/27/2024 18:52:41,Shreyas Saboo,Male,24,Sports,Tech and Innovation,Adventure,Travel,Photography,NaN,NaN,NaN,NaN,NaN,NaN,"Sports, Tech and Innovation, Adventure, Travel..."
1,3/27/2024 18:49:32,Aakash Soni,Male,26,Sports,Tech and Innovation,Business and Networking,Adventure,Fitness,Travel,Food and Drinks,NaN,NaN,NaN,NaN,"Sports, Tech and Innovation, Business and Netw..."
2,3/27/2024 18:49:52,Ruma,Female,24,Sports,Adventure,Travel,Food and Drinks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sports, Adventure, Travel, Food and Drinks"
3,3/27/2024 18:49:52,ankit parsana,Male,33,Sports,Tech and Innovation,Adventure,Fitness,Travel,Food and Drinks,NaN,NaN,NaN,NaN,NaN,"Sports, Tech and Innovation, Adventure, Fitnes..."
4,3/27/2024 18:50:16,Chinmay Joshi,Male,27,Tech and Innovation,Music and Entertainment,Dance,Art and Culture,Adventure,Travel,Virtual Events,Photography,Fashion,Spiritual,NaN,"Tech and Innovation, Music and Entertainment, ..."

In [15]:
first_responses.drop(columns=['Timestamp','Gender','Age','Interests (Multi Select)','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'],inplace =True)

In [16]:
first_responses

                   Name                                      All Interests
0         Shreyas Saboo  Sports, Tech and Innovation, Adventure, Travel...
1          Aakash Soni   Sports, Tech and Innovation, Business and Netw...
2                  Ruma         Sports, Adventure, Travel, Food and Drinks
3         ankit parsana  Sports, Tech and Innovation, Adventure, Fitnes...
4         Chinmay Joshi  Tech and Innovation, Music and Entertainment, ...
5                Rupesh  Sports, Tech and Innovation, Business and Netw...
6             Vrushali   Sports, Music and Entertainment, Dance, Art an...
7    Priyanka Bangarwa   Sports, Music and Entertainment, Dance, Advent...
8       Avinash Jagtap                                  Adventure, Fitness
9         Dinesh Kumar   Sports, Tech and Innovation, Music and Enterta...
10       Santosh Zaware  Sports, Art and Culture, Books and Education, ...
11        Ketaki Gadgil  Sports, Music and Entertainment, Dance, Art an...
12         Pratik Saboo  Sports, Tech and Innovation, Music and Enterta...
13      Ankita Pardeshi  Dance, Art and Culture, Books and Education, A...
14      Vasudev Sharma   Tech and Innovation, Business and Networking, ...
15        Sujan Dhamale  Sports, Tech and Innovation, Music and Enterta...
16   Krushna S. Naghate  Tech and Innovation, Music and Entertainment, ...
17               Junaid      Tech and Innovation, Fitness, Food and Drinks
18  Tanushree Gaurkhede  Tech and Innovation, Music and Entertainment, ...
19        Pratik Bhande  Sports, Tech and Innovation, Music and Enterta...

In [17]:
first_responses.shape

(20, 2)

In [18]:
events.head()

,Event ID,Event Names,Description,Primary Category,Sub Category
0,EVT0001,Food Photography Workshop,Calling all food lovers and aspiring photograp...,Photography,Food Photography
1,EVT0002,Street Photography Workshop,Ten days of shooting includes two street photo...,Photography,Travel Photography
2,EVT0003,Ajay Atul Live,Let's enjoy the magic of Ajay-Atul’s music lik...,Music and Entertainment,Concert
3,EVT0004,Pune Heritage Walk,Heritage walk through old lanes and Potters co...,Travel,One Day Outing
4,EVT0005,Poetry and Comedy,"GOTU LIT WEDNESDAY'S, A COMEDY AND POETRY OPEN...",Music and Entertainment,"Poetry,Comedy"

In [19]:
events.shape

(201, 5)

In [20]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load datasets
#first_responses = pd.read_csv("first_responses.csv")
#events = pd.read_csv("events.csv")

# Drop rows with NaN values in 'All Interest' and 'Description' columns
first_responses.dropna(subset=['All Interests'], inplace=True)
events.dropna(subset=['Description'], inplace=True)

# Feature Engineering
tfidf = TfidfVectorizer()
interest_matrix = tfidf.fit_transform(first_responses["All Interests"].astype(str))
event_desc_matrix = tfidf.transform(events["Description"].astype(str))
similarity_matrix = cosine_similarity(interest_matrix, event_desc_matrix)

# Recommendation
def recommend_events(user_name, top_n=20):
    user_interests = first_responses[first_responses["Name"] == user_name]["All Interests"]
    if user_interests.empty:
        return "Events not found."
    
    user_index = first_responses[first_responses["Name"] == user_name].index[0]
    sim_scores = list(enumerate(similarity_matrix[user_index]))
    sim_scores.sort(key=lambda x: x[1], reverse=True)
    top_similar_events = sim_scores[:top_n]
    
    recommended_events = []
    for idx, _ in top_similar_events:
        recommended_events.append(events.iloc[idx]["Event ID"])
    
    return recommended_events


# Example usage
user_name = "Pratik Bhande"
recommended_events = recommend_events(user_name)
print(f"Recommended events for {user_name}:")
for event_id in recommended_events:
    print(f"Event ID: {event_id}")

Recommended events for Pratik Bhande:
Event ID: EVT0198
Event ID: EVT0078
Event ID: EVT0167
Event ID: EVT0081
Event ID: EVT0039
Event ID: EVT0101
Event ID: EVT0107
Event ID: EVT0166
Event ID: EVT0154
Event ID: EVT0175
Event ID: EVT0022
Event ID: EVT0062
Event ID: EVT0004
Event ID: EVT0005
Event ID: EVT0007
Event ID: EVT0008
Event ID: EVT0009
Event ID: EVT0014
Event ID: EVT0015
Event ID: EVT0018

In [21]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load datasets
#first_responses = pd.read_csv("first_responses.csv")
#events = pd.read_csv("events.csv")

# Drop rows with NaN values in 'All Interest' and 'Description' columns
first_responses.dropna(subset=['All Interests'], inplace=True)
events.dropna(subset=['Description'], inplace=True)

# Feature Engineering
tfidf = TfidfVectorizer()
interest_matrix = tfidf.fit_transform(first_responses["All Interests"].astype(str))
event_desc_matrix = tfidf.transform(events["Description"].astype(str))
similarity_matrix = cosine_similarity(interest_matrix, event_desc_matrix)

# Recommendation
# Recommendation
def recommend_events(user_name, top_n=20):
    user_data = first_responses[first_responses["Name"] == user_name]
    if user_data.empty:
        return "User not found."

    user_interests = user_data["All Interests"].values[0].split(', ')
    user_interests_lower = [interest.lower() for interest in user_interests]

    user_index = first_responses[first_responses["Name"] == user_name].index[0]
    sim_scores = list(enumerate(similarity_matrix[user_index]))
    sim_scores.sort(key=lambda x: x[1], reverse=True)

    recommended_events = []
    for idx, _ in sim_scores:
        event_categories = events.iloc[idx]["Primary Category"].lower().split(', ')
        if any(category in user_interests_lower for category in event_categories):
            recommended_events.append(events.iloc[idx]["Event ID"])
            if len(recommended_events) == top_n:
                break

    return recommended_events



# Example usage
user_name = "Ketaki Gadgil"
recommended_events = recommend_events(user_name)
print(f"Recommended events for {user_name}:")
for event_id in recommended_events:
    print(f"Event ID: {event_id}")

Recommended events for Ketaki Gadgil:
Event ID: EVT0036
Event ID: EVT0048
Event ID: EVT0095
Event ID: EVT0011
Event ID: EVT0044
Event ID: EVT0056
Event ID: EVT0109
Event ID: EVT0195
Event ID: EVT0078
Event ID: EVT0167
Event ID: EVT0081
Event ID: EVT0039
Event ID: EVT0101
Event ID: EVT0107
Event ID: EVT0166
Event ID: EVT0022
Event ID: EVT0005
Event ID: EVT0007
Event ID: EVT0015
Event ID: EVT0042

In [22]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load datasets
#first_responses = pd.read_csv("first_responses.csv")
#events = pd.read_csv("events.csv")

# Drop rows with NaN values in 'All Interest' and 'Description' columns
first_responses.dropna(subset=['All Interests'], inplace=True)
events.dropna(subset=['Description'], inplace=True)

# Feature Engineering
tfidf = TfidfVectorizer()
interest_matrix = tfidf.fit_transform(first_responses["All Interests"].astype(str))
event_desc_matrix = tfidf.transform(events["Description"].astype(str))
similarity_matrix = cosine_similarity(interest_matrix, event_desc_matrix)

# Recommendation
# Recommendation
# Recommendation
def recommend_events(user_name, top_n=20):
    user_data = first_responses[first_responses["Name"] == user_name]
    if user_data.empty:
        return "User not found."

    user_interests = user_data["All Interests"].values[0].split(', ')
    user_interests_lower = [interest.lower() for interest in user_interests]

    user_index = first_responses[first_responses["Name"] == user_name].index[0]
    sim_scores = list(enumerate(similarity_matrix[user_index]))
    sim_scores.sort(key=lambda x: x[1], reverse=True)

    recommended_events = []
    for idx, _ in sim_scores:
        event_categories = events.iloc[idx]["Primary Category"].lower().split(', ')
        if any(category in user_interests_lower for category in event_categories):
            for category in event_categories:
                if category.strip() in ["sports", "fitness", "dance", "adventure", "tech and innovation", "travel", "acting", "astronomy","virtual events","food and drinks","books and education","art and culture"]:
                    recommended_events.append(events.iloc[idx]["Event ID"])
                    if len(recommended_events) == top_n:
                        return recommended_events  # Return recommended events if reached top_n
                    break  # Break inner loop to avoid duplicate event IDs
            # Check if top_n events limit is reached
            if len(recommended_events) == top_n:
                break

    return recommended_events




# Example usage
user_name = "Pratik Bhande"
recommended_events = recommend_events(user_name)
print(f"Recommended events for {user_name}:")
for event_id in recommended_events:
    print(f"Event ID: {event_id}")

Recommended events for Pratik Bhande:
Event ID: EVT0081
Event ID: EVT0154
Event ID: EVT0175
Event ID: EVT0062
Event ID: EVT0007
Event ID: EVT0015
Event ID: EVT0018
Event ID: EVT0020
Event ID: EVT0060
Event ID: EVT0061
Event ID: EVT0064
Event ID: EVT0075
Event ID: EVT0093
Event ID: EVT0097
Event ID: EVT0106
Event ID: EVT0131
Event ID: EVT0132
Event ID: EVT0134
Event ID: EVT0135
Event ID: EVT0136

In [22]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load datasets
#first_responses = pd.read_csv("first_responses.csv")
#events = pd.read_csv("events.csv")

# Drop rows with NaN values in 'All Interest' and 'Description' columns
first_responses.dropna(subset=['All Interests'], inplace=True)
events.dropna(subset=['Description'], inplace=True)

# Feature Engineering
tfidf = TfidfVectorizer()
interest_matrix = tfidf.fit_transform(first_responses["All Interests"].astype(str))
event_desc_matrix = tfidf.transform(events["Description"].astype(str))
similarity_matrix = cosine_similarity(interest_matrix, event_desc_matrix)

# Recommendation
# Recommendation
# Recommendation
def recommend_events(user_name, top_n=20, min_events_per_category=1):
    user_data = first_responses[first_responses["Name"] == user_name]
    if user_data.empty:
        return "User not found."

    user_interests = user_data["All Interests"].values[0].split(', ')
    user_interests_lower = [interest.lower() for interest in user_interests]

    user_index = first_responses[first_responses["Name"] == user_name].index[0]
    sim_scores = list(enumerate(similarity_matrix[user_index]))
    sim_scores.sort(key=lambda x: x[1], reverse=True)

    recommended_events = []
    category_count = {}

    for idx, _ in sim_scores:
        event_categories = events.iloc[idx]["Primary Category"].lower().split(', ')
        common_interests = set(event_categories) & set(user_interests_lower)

        if common_interests:  # If there are common interests between user and event
            for category in event_categories:
                category = category.strip()
                if category in ["music and entertainment", "sports", "fitness", "dance", "adventure", "tech and innovation", "travel", "acting", "astronomy", "virtual events", "food and drinks", "books and education", "art and culture"]:
                    if category not in category_count:
                        category_count[category] = 0
                    if category_count[category] < min_events_per_category:
                        recommended_events.append(events.iloc[idx]["Event ID"])
                        category_count[category] += 1
                        if len(recommended_events) == top_n:
                            return recommended_events  # Return recommended events if reached top_n
                        break  # Break inner loop to avoid duplicate event IDs

    # If there are not enough events per category, recommend more events from "music and entertainment"
    if len(recommended_events) < top_n:
        for idx, _ in sim_scores:
            event_categories = events.iloc[idx]["Primary Category"].lower().split(', ')
            if "music and entertainment" in event_categories:
                recommended_events.append(events.iloc[idx]["Event ID"])
                if len(recommended_events) == top_n:
                    break  # Break if reached top_n

    return recommended_events







# Example usage
user_name = "Pratik Bhande"
recommended_events = recommend_events(user_name)
print(f"Recommended events for {user_name}:")
for event_id in recommended_events:
    print(f"Event ID: {event_id}")

Recommended events for Pratik Bhande:
Event ID: EVT0198
Event ID: EVT0081
Event ID: EVT0154
Event ID: EVT0062
Event ID: EVT0020
Event ID: EVT0198
Event ID: EVT0078
Event ID: EVT0167
Event ID: EVT0039
Event ID: EVT0101
Event ID: EVT0107
Event ID: EVT0166
Event ID: EVT0022
Event ID: EVT0005
Event ID: EVT0047
Event ID: EVT0068
Event ID: EVT0079
Event ID: EVT0084
Event ID: EVT0090
Event ID: EVT0108

In [16]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load datasets
#first_responses = pd.read_csv("first_responses.csv")
#events = pd.read_csv("events.csv")

# Drop rows with NaN values in 'All Interest' and 'Description' columns
first_responses.dropna(subset=['All Interests'], inplace=True)
events.dropna(subset=['Description'], inplace=True)

# Feature Engineering
tfidf = TfidfVectorizer()
interest_matrix = tfidf.fit_transform(first_responses["All Interests"].astype(str))
event_desc_matrix = tfidf.transform(events["Description"].astype(str))
similarity_matrix = cosine_similarity(interest_matrix, event_desc_matrix)

# Recommendation
# Recommendation
# Recommendation
def recommend_events(user_name, top_n=20, min_events_per_category=3):
    user_data = first_responses[first_responses["Name"] == user_name]
    if user_data.empty:
        return "User not found."

    user_interests = user_data["All Interests"].values[0].split(', ')
    user_interests_lower = [interest.lower() for interest in user_interests]

    user_index = first_responses[first_responses["Name"] == user_name].index[0]
    sim_scores = list(enumerate(similarity_matrix[user_index]))
    sim_scores.sort(key=lambda x: x[1], reverse=True)

    recommended_events = []
    category_count = {category: 0 for category in ["music and entertainment", "sports", "fitness", "dance", "adventure", "tech and innovation", "travel", "acting", "astronomy", "virtual events", "food and drinks", "books and education", "art and culture","photography"]}
    recommended_event_ids = set()

    for idx, _ in sim_scores:
        event_categories = events.iloc[idx]["Primary Category"].lower().split(', ')
        common_interests = set(event_categories) & set(user_interests_lower)

        if common_interests:  # If there are common interests between user and event
            for category in event_categories:
                category = category.strip()
                if category in category_count:
                    if category_count[category] < min_events_per_category:
                        event_id = events.iloc[idx]["Event ID"]
                        if event_id not in recommended_event_ids:  # Check if event is not recommended already
                            recommended_events.append(event_id)
                            recommended_event_ids.add(event_id)
                            category_count[category] += 1
                            break  # Break inner loop to avoid duplicate event IDs

    # If there are not enough events per category, recommend more events from categories with fewer recommendations
    for idx, _ in sim_scores:
        event_categories = events.iloc[idx]["Primary Category"].lower().split(', ')
        common_interests = set(event_categories) & set(user_interests_lower)

        if common_interests:  # If there are common interests between user and event
            for category in event_categories:
                category = category.strip()
                if category in category_count:
                    if category_count[category] < min_events_per_category:
                        event_id = events.iloc[idx]["Event ID"]
                        if event_id not in recommended_event_ids:  # Check if event is not recommended already
                            recommended_events.append(event_id)
                            recommended_event_ids.add(event_id)
                            category_count[category] += 1

    return recommended_events[:top_n]


# Example usage
user_name = "Shreyas Saboo"
recommended_events = recommend_events(user_name)
print(f"Recommended events for {user_name}:")
for event_id in recommended_events:
    print(f"Event ID: {event_id}")

Recommended events for Shreyas Saboo:
Event ID: EVT0074
Event ID: EVT0086
Event ID: EVT0081
Event ID: EVT0187
Event ID: EVT0175
Event ID: EVT0154
Event ID: EVT0004
Event ID: EVT0007
Event ID: EVT0008
Event ID: EVT0014
Event ID: EVT0015
Event ID: EVT0018
Event ID: EVT0064
Event ID: EVT0097
Event ID: EVT0156

### Code Flow and Explanation:

1. **Import Libraries**:
   - `pandas` for data manipulation.
   - `TfidfVectorizer` from `sklearn.feature_extraction.text` for converting text to numerical features.
   - `cosine_similarity` from `sklearn.metrics.pairwise` for measuring similarity between user interests and event descriptions.

2. **Load Data**:
   - Load user responses (`first_responses.csv`) and event details (`events.csv`) using `pandas`.
   - Drop rows where the 'All Interests' in user responses or the 'Description' in events are missing.

3. **Feature Engineering**:
   - Use **TF-IDF (Term Frequency-Inverse Document Frequency)** to vectorize the 'All Interests' of users and the 'Description' of events, creating numerical representations of these text fields.
   - Compute a **cosine similarity matrix** between the interest matrix and the event description matrix.

4. **Recommendation Function `recommend_events()`**:
   - Recommends events based on user interests and event descriptions using the similarity matrix.
   
   - **Steps**:
     - Retrieve the user's interests from the user responses dataset.
     - Match user interests to event categories by computing similarities.
     - Keep track of recommended events for each category, ensuring that at least a specified minimum number of events are recommended per category.
     - Avoid recommending the same event multiple times.
     - If there aren’t enough events per category, recommend additional events based on fewer common interests.
   
5. **Recommendation Logic**:
   - The function recommends events by checking for common interests between user interests and event categories, ensuring a minimum of `min_events_per_category` per category.
   - The top `n` recommendations (default is 20) are returned.

6. **Example Usage**:
   - Example demonstrates the recommendation process for a user named **Shreyas Saboo**.
   - Prints out the recommended event IDs for the user.